.demo-block.demo-button {
  .hu-row {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .hu-button + .hu-button {
    margin-left: 10px;
  }
  .hu-button-group {
    .hu-button + .hu-button {
      margin-left: 0;
    }

    & + .hu-button-group {
      margin-left: 10px;
    }
  }
}
