.hu-header,
.hu-footer {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.hu-aside {
  color: #333;
}

#chang-jian-ye-mian-bu-ju + .demo-container {
  .hu-header,
  .hu-footer {
    text-align: center;
  }

  .hu-aside {
    background-color: #d3dce6;
    text-align: center;
    line-height: 200px;
  }

  .hu-main {
    background-color: #e9eef3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  & > .source > .hu-container {
    margin-bottom: 40px;

    &:nth-child(5) .hu-aside,
    &:nth-child(6) .hu-aside {
      line-height: 260px;
    }

    &:nth-child(7) .hu-aside {
      line-height: 320px;
    }
  }
}
